.parent {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .child,
  .sub-child {
    display: none;
    margin-left: 20px;
  }
  
  .open .child,
  .open .sub-child {
    display: block;
  }
  
  .has-child .toggle-sign:before {
    content: '+';
    display: inline-block;
    margin-right: 5px;
  }
  
  .has-child.open .toggle-sign:before {
    content: '-';
  }
  
  .sub-child {
    margin-left: 40px;
  }
  